html, body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.full-header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    gap: 75px;
    padding: 20px 0 80px 0;
}

.right-header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
}

.left-header {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-logo a{
    text-decoration: none;
    color: #f9faf8;
    font-weight: 600;
    font-size: large;
}

.header-links, .header-links a{
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #f9faf8;
    margin: auto;

}

.left-header, .right-header {
    max-width: 500px;
}

.header-content a{
    background-color: #3882f6;
    padding: 8px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #f9faf8;
    font-weight: 600;
}

.header-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.header-content p {
    margin-top: -30px;
    font-size: 18px;
    color: #e5e7eb;
}

* img {
    height: 400px;
    border-radius: 25px;
}

/* * {
    outline: auto;
} */